<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Aug 03 2020 22:12:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5f0e5aab66a20f2f8ea1f1be" data-wf-site="5ee3c1b5c1a7f0a83cb00020">
  <head>
    <meta charset="utf-8" />
    <title>Job Listing-Individual</title>
    <meta content="Job Listing-Individual" property="og:title" />
    <meta content="Job Listing-Individual" property="twitter:title" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link href="/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/css/webflow.css" rel="stylesheet" type="text/css" />
    <link href="/css/nal-media.webflow.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({ google: { families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"] } });
    </script>
    <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
    <script type="text/javascript">
      !(function (o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        (n.className += t + "js"),
          ("ontouchstart" in o || (o.DocumentTouch && c instanceof DocumentTouch)) && (n.className += t + "touch");
      })(window, document);
    </script>
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="images/webclip.png" rel="apple-touch-icon" />
  </head>
  <body class="body-11">
    <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar-8 w-nav">
      <%- include('_navbar')%>
    </div>
    <div class="section-11">
      <div class="columns-14 w-row">
        <div class="column-17 w-col w-col-4 w-col-stack">
          <div class="div-block_compnayinfo">
            <div class="div-block_companylogo" style="background-image: none;"><img src="/<%= company.user.logo %>" /></div>
            <div class="w-layout-grid grid_company_info">
              <a id="w-node-8ef4004a96ce-8ea1f1be" href="company-profile-view.html" class="heading_compnay-name_public">
                <%= company.name %></a
              >
              <h2 id="w-node-1921c30373e3-8ea1f1be" class="heading-_company_industry"><%= company.user.industry %></h2>
              <div id="w-node-96287d5bf11f-8ea1f1be" class="div-block-_locationicon"></div>
              <div id="w-node-147e78cd6d34-8ea1f1be" class="text-block_location"><%= company.user.country %></div>
              <div id="w-node-0563a62ca9d1-8ea1f1be" class="div-block_link_icon"></div>
              <div id="w-node-0f700e7bde92-8ea1f1be" class="text-block_web"><%= company.user.website %></div>
              <div id="w-node-01e40bb45a24-8ea1f1be" class="div-block_divideline"></div>
              <p id="w-node-7ff683e0ba23-8ea1f1be" class="paragraph_company_discrip">
                <%= company.user.description %>
              </p>
            </div>
          </div>
        </div>
        <div class="column_dividerline w-col w-col-1 w-col-stack">
          <div class="div-block_line"></div>
        </div>
        <div class="column-18 w-col w-col-6 w-col-stack">
          <div class="w-layout-grid grid_fulljobdis">
            <h1 id="w-node-e9d79292d136-8ea1f1be" class="heading-46"><%= job.title %></h1>
            <h2 id="w-node-e3e4c45af44f-8ea1f1be" class="heading-47"><%= job.company %></h2>
            <div id="w-node-59fb65138ff1-8ea1f1be" class="div-block-_locationicon_2"></div>
            <div id="w-node-212657da965f-8ea1f1be" class="text-block_location-copy"><%= job.location %></div>
            <div id="w-node-859759ee7df4-8ea1f1be" class="text-block_salary_icon_2">$</div>
            <div id="w-node-2667a8c07435-8ea1f1be" class="text-block_salary"><%= job.salary %></div>
            <div id="w-node-6ab5e5509fcf-8ea1f1be" class="text-block_descriptionheader">Description</div>
            <p id="w-node-341126005434-8ea1f1be" class="paragraph-12">
              <%= job.description %>
            </p>
            <div id="w-node-57d10b3ae5c9-8ea1f1be" class="text-block_requirementsheader">Requirements</div>
            <p id="w-node-468606cc892c-8ea1f1be" class="paragraph-12">
              <%= job.requirements %>
            </p>
          </div>
          <br />
          <div class="error-message">
            <div class="text-block-14"><%=message%></div>
          </div>
        </div>
        <div class="column-16 w-col w-col-1 w-col-stack">
          <a href="/creative/applied?id=<%=jobID%>&title=<%=job.title%>" class="button-20 w-button">Applied?</a>
        </div>
      </div>
    </div>
    <div class="footer">
      <%- include('_footer')%>
    </div>
    <script
      src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5ee3c1b5c1a7f0a83cb00020"
      type="text/javascript"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  </body>
</html>
